//------- portfolio--about ----------
.portfolio--about {
    .header {
        color: #fff;
        .link {
            color: #fff;
            &::before {
                background-color: #fff;
            }
        }
    }
    .about-page {
        transition-delay: 0.7s;
        opacity: 1;
        pointer-events: auto;
        .about-page__title-1 {
            padding-top: 0px;
            transition-delay: 1s;
        }
        .about-page__title-2 {
            padding-top: 0px;
            transition-delay: 1.3s;
        }
    }
    .soclist path {
        fill: #fff;
    }
}

//------- header ----------
.header {
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 8vh;
    z-index: 100;
    padding: 0 2rem;
    transition: color 0.3s;
    font-size: 1.3vw;
    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        font-weight: 700;
    }
    a {
        transition: color 0.3s;
    }
}

// --------- soclist ----------
.soclist {
    position: fixed;
    bottom: 2%;
    right: 1%;
    display: flex;
    align-items: center;
    z-index: 100;
    svg {
        width: 4vw;
        height: 4vh;
    }
    &__item {
        transition: transform 0.3s;
    }
    &__item:not(:last-child) {
        margin-right: 0.1rem;
    }
    path {
        transition: fill 0.3s;
    }
    &__item:hover {
        transform: scale(1.2);
    }
}

// --------- last ----------
.last-page {
    background-image: url(../img/last-page--bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: -2px;
    position: relative;
    &__line {
        position: absolute;
        top: 0;
        left: 10%;
        height: 0;
        width: 0.2vw;
        background-color: #000;
    }
    &__title {
        position: absolute;
        left: 8%;
        top: 30%;
        width: 100%;
        font-weight: 900;
        font-size: 7vw;
        line-height: 14vh;
        text-transform: uppercase;
    }
}

// --------- about-page ----------
.about-page {
    overflow: auto;
    width: 100vw;
    height: 100vh;
    z-index: 51;
    position: fixed;
    color: #fff;
    transition: transform 0.7s ease-out;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s;
    &__inner {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__title {
        width: 32%;
        font-weight: bold;
        font-size: 11vw;
        line-height: 17vh;
        letter-spacing: -0.05em;
        text-transform: uppercase;
        padding-left: 8rem;
        .about-page__title-2 {
            padding-top: 11rem;
            margin-left: -100px;
            overflow: hidden;
            height: 13vh;
            transition: 0.5s ease-out;
        }
        .about-page__title-1 {
            padding-top: 11rem;
            transition: 0.5s ease-out;
            overflow: hidden;
            height: 13vh;
            margin-bottom: 45px;
        }
        position: relative;
    }
    &__text {
        margin-left: 8rem;
        width: 50%;
        font-weight: 300;
        font-size: 1.5vw;
        line-height: 4.5vh;
        span {
            font-weight: 700;
            display: block;
        }
    }
}

// --------- main-page ----------
.main-page {
    overflow: hidden;
    &__inner {
        position: relative;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__title {
        word-wrap: break-word;
        font-weight: 900;
        font-size: 14vw;
        line-height: 20vh;
        letter-spacing: -0.05em;
        text-transform: uppercase;
        opacity: 0;
        width: 50vw;
    }
    &__text {
        position: relative;
        font-weight: 300;
        font-size: 2vw;
        line-height: 3.8vh;
        text-align: right;
        text-transform: uppercase;
        width: 15%;
        margin-left: 15rem;
    }
    &__line {
        height: 425px;
        width: 5px;
        background-color: #000;
        transform: rotate(-130deg);
        position: absolute;
    }

    .main-page__pattern-1 {
        z-index: -1;
        position: absolute;
        width: 20%;
        height: 47%;
        left: 19%;
        opacity: 1 !important;
        animation: pattern1 1.5s ease-out both;
        animation-delay: 0.7s;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    @keyframes pattern1 {
        0% {
            top: -100%;
        }
        100% {
            top: 20%;
        }
    }

    .main-page__pattern-2 {
        z-index: -1;
        position: absolute;
        right: 20%;
        bottom: 15%;
        opacity: 1 !important;
        animation: pattern2 1.5s ease-out both;
        animation-delay: 0.7s;
        svg {
            width: 30vw;
            height: 60vh;
        }
    }
    @keyframes pattern2 {
        0% {
            transform: scale(0);
        }
        50% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(1);
        }
    }
    #figure1 {
        animation: figure1 5s ease-in-out infinite;
    }
    @keyframes figure1 {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(0.97);
        }
        100% {
            transform: scale(1);
        }
    }
    #figure2 {
        animation: figure2 5s ease-in-out infinite;
    }
    @keyframes figure2 {
        0% {
            transform: translateY(0px) scale(1);
        }
        50% {
            transform: translateY(-30px) scale(1.03);
        }
        100% {
            transform: translateY(0px) scale(1);
        }
    }
    #line1 {
        animation: line-1 5s ease-in-out infinite;
    }
    @keyframes line-1 {
        0% {
            transform: translateY(0px);
        }
        50% {
            transform: translateY(-10px);
        }
        100% {
            transform: translateY(0px);
        }
    }
    #line2 {
        animation: line-2 5s ease-in-out infinite;
    }
    @keyframes line-2 {
        0% {
            transform: translate(0px, 0px);
        }
        50% {
            transform: translate(-10px, 20px);
        }
        100% {
            transform: translate(0px, 0px);
        }
    }
    #line3 {
        animation: line-3 5s ease-in-out infinite;
    }
    @keyframes line-3 {
        0% {
            transform: translate(0px, 0px);
        }
        50% {
            transform: translate(-10px, 10px);
        }
        100% {
            transform: translate(0px, 0px);
        }
    }

    .main-page__title {
        overflow: hidden;
        opacity: 1 !important;
        position: relative;
        z-index: 10;
    }
    .main-page__title-span:nth-child(1) {
        position: relative;
        display: inline-block;
        overflow: hidden;
        &::before {
            content: "";
            position: absolute;
            background-color: #000;
            width: 100%;
            height: 100%;
            left: -100%;
            top: 0;
            animation: title-before 1s ease-out both;
            animation-delay: 0.7s;
        }
        .main-page__title-spanch {
            position: relative;
            animation: title1 0.8s ease-out both;
            animation-delay: 0.7s;
        }
    }
    .main-page__title-span:nth-child(2) {
        position: relative;
        display: inline-block;
        overflow: hidden;
        width: 100%;
        &::before {
            content: "";
            position: absolute;
            background-color: #000;
            width: 100%;
            height: 100%;
            left: -100%;
            top: 0;
            animation: title-before 1s ease-out both;
            animation-delay: 0.9s;
        }
        .main-page__title-spanch {
            position: relative;
            animation: title1 0.8s ease-out both;
            animation-delay: 1s;
        }
    }

    @keyframes title-before {
        0% {
            left: -100%;
        }
        100% {
            left: 100%;
        }
    }
    @keyframes title1 {
        0% {
            left: -100%;
        }
        100% {
            left: 0px;
        }
    }

    .main-page__text {
        overflow: hidden;
    }
    .main-page__text-span:nth-child(1) {
        animation: span1 1s ease-out both;
        position: relative;
        animation-delay: 0.7s;
    }
    .main-page__text-span:nth-child(2) {
        animation: span1 1s ease-out both;
        position: relative;
        animation-delay: 1s;
    }
    .main-page__text-span:nth-child(3) {
        animation: span1 1s ease-out both;
        position: relative;
        animation-delay: 1.2s;
    }
    @keyframes span1 {
        0% {
            right: -100%;
        }
        100% {
            right: 0;
        }
    }

    .line {
        position: absolute;
        background-color: #000;
        width: 4px;
        height: 250px;
    }
    .line:nth-child(1) {
        left: 18%;
        animation: line1 1.5s ease-out both;
        animation-delay: 1.2s;
        top: 100%;
    }
    .line:nth-child(2) {
        left: 40%;
        animation: line1 3.5s ease-out both;
        animation-delay: 0.7s;
        top: 100%;
    }
    @keyframes line1 {
        0% {
            top: 100%;
        }
        100% {
            top: -100%;
        }
    }
    @keyframes line2 {
        0% {
            top: 100%;
        }
        100% {
            top: -100%;
        }
    }

    .symbol {
        position: absolute;
    }
    .symbol-x {
        width: 5vw;
        height: 5vh;
        transform: rotate(8deg);
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .symbol:nth-child(1) {
        width: 15vw;
        height: 15vh;
        transform: rotate(-34.9deg);
        left: -6%;
        bottom: 5%;
        animation: symbol1 5s ease-in-out infinite;
    }
    @keyframes symbol1 {
        0% {
            transform: rotate(-34.9deg);
            left: -6%;
        }
        50% {
            transform: rotate(-43deg);
            left: -7.5%;
        }
        100% {
            transform: rotate(-34.9deg);
            left: -6%;
        }
    }
    .symbol:nth-child(2) {
        width: 7vw;
        height: 7vh;
        left: 7%;
        top: 15%;
        transform: rotate(-14.01deg);
        animation: symbol2 5s ease-in-out infinite;
    }
    @keyframes symbol2 {
        0% {
            left: 7%;
        }
        50% {
            left: 8%;
        }
        100% {
            left: 7%;
        }
    }
    .symbol:nth-child(3) {
        width: 7vw;
        height: 7vh;
        left: 37%;
        bottom: 24%;
        transform: rotate(17.01deg);
        animation: symbol3 5s ease-in-out infinite;
    }
    @keyframes symbol3 {
        0% {
            transform: rotate(17.01deg) scale(1);
        }
        50% {
            transform: rotate(8deg) scale(1.15);
        }
        100% {
            transform: rotate(17.01deg) scale(1);
        }
    }
    .symbol:nth-child(4) {
        right: 32%;
        top: 28%;
        animation: symbol4 5s ease-in-out infinite;
    }
    @keyframes symbol4 {
        0% {
            transform: rotate(8deg) scale(1);
        }
        50% {
            transform: rotate(17deg) scale(1.2);
        }
        100% {
            transform: rotate(8deg) scale(1);
        }
    }
    .symbol:nth-child(5) {
        right: 10%;
        top: 18%;
        transform: rotate(33.83deg);
        animation: symbol5 5s ease-in-out infinite;
    }
    @keyframes symbol5 {
        0% {
            right: 10%;
        }
        50% {
            right: 8%;
        }
        100% {
            right: 10%;
        }
    }
    .symbol:nth-child(6) {
        font-weight: 700;
        font-size: 4vw;
        transform: rotate(-38deg);
        left: 13%;
        top: 50%;
        animation: symbol6 5s ease-in-out infinite;
    }
    @keyframes symbol6 {
        0% {
            left: 13%;
            top: 50%;
        }
        50% {
            left: 12%;
            top: 51%;
        }
        100% {
            left: 13%;
            top: 50%;
        }
    }
    .symbol:nth-child(7) {
        font-weight: 700;
        font-size: 13vw;
        right: -4%;
        top: 52%;
        transform: rotate(22deg);
        animation: symbol7 5s ease-in-out infinite;
    }
    @keyframes symbol7 {
        0% {
            transform: rotate(22deg);
            top: 52%;
        }
        50% {
            transform: rotate(35deg);
            top: 51%;
        }
        100% {
            transform: rotate(22deg);
            top: 52%;
        }
    }

    .curve {
        z-index: -1;
        position: absolute;
        img {
            height: 100%;
        }
    }
    .curve:nth-child(1) {
        right: 1%;
        top: -5%;
        height: 110%;
        animation: curve1 5s ease-in-out infinite;
    }
    @keyframes curve1 {
        0% {
            right: 1%;
        }
        50% {
            right: 1.5%;
        }
        100% {
            right: 1%;
        }
    }
    .curve:nth-child(2) {
        top: -3%;
        right: 0%;
        height: 108%;
        animation: curve2 5s ease-in-out infinite;
    }
    @keyframes curve2 {
        0% {
            height: 108%;
            right: 0%;
        }
        50% {
            height: 112%;
            right: 0.5%;
        }
        100% {
            height: 108%;
            right: 0%;
        }
    }
    .curve:nth-child(3) {
        right: -14%;
        top: -15%;
        transform: rotate(3deg);
        height: 120%;
    }
    .curve:nth-child(4) {
        left: -10%;
        top: 0px;
        transform: rotate(5deg);
        height: 100%;
        animation: curve4 5s ease-in-out infinite;
    }
    @keyframes curve4 {
        0% {
            transform: rotate(5deg);
        }
        50% {
            transform: rotate(8deg);
        }
        100% {
            transform: rotate(5deg);
        }
    }
    .curve:nth-child(5) {
        left: -1%;
        transform: rotate(3deg);
        top: -1%;
        height: 100%;
        animation: curve5 5s ease-in-out infinite;
    }
    @keyframes curve5 {
        0% {
            height: 100%;
        }
        50% {
            height: 105%;
        }
        100% {
            height: 100%;
        }
    }

    .main-page__author {
        font-weight: 900;
        font-size: 1.7vw;
        text-align: center;
        text-transform: uppercase;
        top: 17%;
        left: 21%;
        position: absolute;
        letter-spacing: 1px;
        animation: author 1.5s ease-out both;
        animation-delay: 0.7s;
    }
    @keyframes author {
        0% {
            left: 10%;
            top: -100%;
            letter-spacing: 15px;
        }
        50% {
            left: 10%;
            letter-spacing: 15px;
        }
        100% {
            top: 17%;
            left: 21%;
            letter-spacing: 1px;
        }
    }
}

// --------- shape-overlays ----------
.shape-overlays {
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    &.is-opened {
        pointer-events: auto;
    }
    &__path:nth-of-type(1) {
        fill: rgb(156, 156, 156);
    }
    &__path:nth-of-type(2) {
        fill: #e2e2e2;
    }
    &__path:nth-of-type(3) {
        fill: #000;
    }
    &__path:nth-of-type(4) {
        fill: #6b6b6b;
    }
}

// --------- spinner-loading ----------
.spinner {
    position: relative;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    &:after {
        content: "";
        background: #000;
        border-radius: 50%;
        height: 1.5rem;
        width: 1.5rem;
        position: absolute;
        top: 0;
        left: 0;
    }

    > .item {
        height: 1.5rem;
        width: 1.5rem;
        position: absolute;
        top: 0;
        left: 0;

        &:nth-of-type(1) {
            transform: translateX(-100%) translateY(0) rotate(-90deg);
        }
        &:nth-of-type(2) {
            transform: translateX(-70%) translateY(-70%) rotate(-45deg);
        }
        &:nth-of-type(3) {
            transform: translateX(0) translateY(-100%) rotate(0);
        }
        &:nth-of-type(4) {
            transform: translateX(70%) translateY(-70%) rotate(45deg);
        }
        &:nth-of-type(5) {
            transform: translateX(100%) translateY(0) rotate(90deg);
        }
        &:nth-of-type(6) {
            transform: translateX(70%) translateY(70%) rotate(135deg);
        }
        &:nth-of-type(7) {
            transform: translateX(0) translateY(100%) rotate(180deg);
        }
        &:nth-of-type(8) {
            transform: translateX(-70%) translateY(70%) rotate(-135deg);
        }

        &:nth-of-type(1):after {
            animation-delay: 0;
        }
        &:nth-of-type(2):after {
            animation-delay: 375ms;
        }
        &:nth-of-type(3):after {
            animation-delay: 750ms;
        }
        &:nth-of-type(4):after {
            animation-delay: 1125ms;
        }
        &:nth-of-type(5):after {
            animation-delay: 1500ms;
        }
        &:nth-of-type(6):after {
            animation-delay: 1875ms;
        }
        &:nth-of-type(7):after {
            animation-delay: 2250ms;
        }
        &:nth-of-type(8):after {
            animation-delay: 2625ms;
        }

        &:nth-of-type(1):before {
            animation-delay: 0ms;
        }
        &:nth-of-type(2):before {
            animation-delay: 375ms;
        }
        &:nth-of-type(3):before {
            animation-delay: 750ms;
        }
        &:nth-of-type(4):before {
            animation-delay: 1125ms;
        }
        &:nth-of-type(5):before {
            animation-delay: 1500ms;
        }
        &:nth-of-type(6):before {
            animation-delay: 1875ms;
        }
        &:nth-of-type(7):before {
            animation-delay: 2250ms;
        }
        &:nth-of-type(8):before {
            animation-delay: 2625ms;
        }

        &:after {
            content: "";
            background: #000;
            height: 0.8rem;
            width: 0.8rem;
            position: absolute;
            top: 0.6rem;
            left: 0.6rem;
            transform: translateX(0) translateY(0);
            border-radius: 50%;
            animation: move 3s linear infinite;
        }

        &:before {
            content: "";
            background: #000;
            height: 0.6rem;
            width: 0.6rem;
            position: absolute;
            top: 0.45rem;
            left: 0.45rem;
            transform: translateX(0) translateY(0);
            border-radius: 50%;
            animation: move2 3s linear infinite;
        }
    }
}

// --------- 404-page ----------
.box-404 {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .btn-404 {
        position: absolute;
        left: 25px;
        top: 25px;
        padding: 10px 20px 10px 15px;
        border: 1px solid transparent;
        box-shadow: 0 0 10px rgba(#000, 0.5);
        border-radius: 5px;
        background-color: rgb(240, 240, 240);
        display: flex;
        align-items: center;
        background-color: #000;
        transition: box-shadow 0.3s;
        svg {
            width: 12px;
            height: 12px;
            fill: #fff;
            margin-right: 5px;
        }
        p {
            color: #fff;
        }
        &:hover {
            box-shadow: none;
        }
    }
    .st1 {
        font-size: 83.0285px;
        fill: #000;
    }
    .st2 {
        fill: gray;
    }
    .svg-404 {
        width: 500px;
        height: 225px;
        text-align: center;
        fill: #000;
        margin-bottom: 35px;
    }
    path#XMLID_5_ {
        fill: #000;
        filter: url(#blurFilter4);
    }
    path#XMLID_11_,
    path#XMLID_2_ {
        fill: #000;
    }
    .circle {
        animation: out 2s infinite ease-out;
        fill: #000;
    }
    .message {
        font-weight: 700;
        color: #000;
    }
    .message:after {
        content: "]";
    }
    .message:before {
        content: "[";
    }
    .message:after,
    .message:before {
        color: #000;
        font-size: 20px;
        -webkit-animation-name: opacity;
        -webkit-animation-duration: 2s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-name: opacity;
        animation-name: opacity;
        -webkit-animation-duration: 2s;
        animation-duration: 2s;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        margin: 0 50px;
    }
    @-webkit-keyframes opacity {
        0%,
        100% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
    }
    @keyframes opacity {
        0%,
        100% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
    }
    @keyframes out {
        0% {
            r: 1;
            opacity: 0.9;
        }
        25% {
            r: 5;
            opacity: 0.3;
        }
        50% {
            r: 10;
            opacity: 0.2;
        }
        75% {
            r: 15;
            opacity: 0.1;
        }
        100% {
            r: 20;
            opacity: 0;
        }
    }
}
